PRIVATE_KEY=0xYOUR_PRIVATE_KEY_WITH_FUJI_AVAX
AVALANCHE_FUJI_RPC=https://api.avax-test.network/ext/bc/C/rpc
WAVYNODE_API_KEY=ApiKey wavy_your_api_key_here
WAVYNODE_PROJECT_ID=your_project_id
WAVYNODE_BASE_URL=https://api.wavynode.com/v1
WAVYNODE_CHAIN_ID=43113
WAVYNODE_REGISTER_ADDRESSES=true
WAVYNODE_INTEGRATION_SECRET=615d9b7ea991acfa33f823c374c3a062
