# ==========================================
# 1. BLOCKCHAIN & AVALANCHE FUJI
# ==========================================
PRIVATE_KEY="tu_llave_privada_para_deploy" 
AGENT_PRIVATE_KEY="tu_llave_privada_del_agente_backend"
AVALANCHE_FUJI_RPC="https://api.avax-test.network/ext/bc/C/rpc"

# ==========================================
# 2. BACKEND & BASE DE DATOS
# ==========================================
API_PORT=3001
MONGO_URI="mongodb://127.0.0.1:27017/avareg"

# ==========================================
# 3. PRIVY (Autenticación Web3)
# ==========================================
PRIVY_APP_ID="tu_app_id_de_privy"
PRIVY_APP_SECRET="tu_app_secret_de_privy"

# ==========================================
# 4. WAVY NODE (Risk API)
# ==========================================
WAVYNODE_API_KEY="ApiKey tu_api_key_aqui"
WAVYNODE_PROJECT_ID="tu_project_id_aqui"
WAVYNODE_INTEGRATION_SECRET="tu_secreto_para_webhooks"